html {
  background-color: #fff;
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 750px;
  min-height: 100%;
  background-image: url('../assets/bg.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}